<!-- we put the common head codes into head.ejs and include it here to my our codes cleaner -->
<%- include('includes/head.ejs') %>

</head>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href='/'>Shop</a></li>
            <li class="main-header__item"><a href='/admin/add-product'>Add Product</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>Sorry Page Not Found!</h1>
</body>
</html>